/*  http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

body {
    background-color: #dddad2;
    
  }

/*hero*/
.hero {
  display: flex;
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.hero-container {
  color:rgb(139, 118, 144);
  height: 100vh;
  position: relative; 
  padding: 40px; 
  box-sizing: border-box;
}
  
.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  z-index: -1; 
}

.hero-text {
  font-family: "Patrick Hand", cursive;
  font-weight: 400;   
  font-style: normal;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2c1c30;
  font-size: 45px;
  }

/*navbar*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 20px;
  padding: 40px;
  text-align: center;
  color: #1f1738;
  background-color: #e7e3d8;
  }  

 /*content*/
 #content-container {
  background-color: #e7e3d8;
  height: 600px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.content-text {
  flex: 1; 
  padding: 0 20px;
  margin: 0 20px;
}

.content {
  font-family: "Madimi One", sans-serif;   
font-weight: 400;   
font-style: normal;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content img{
  height: 40%;
  width: 40%; 
  align-self: flex-start;
  margin: 20px 20px;
  box-sizing: border-box;
  margin-left: -10px;
}


.about-text h1 {
  color: #2e1b3a;
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-left: 60px;
  font-family: "Patrick Hand", cursive;
  font-weight: 300;
  font-style: normal;
}

.about-text p {
  color: rgba(45, 22, 61, 0.8);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  font-family: "Inter Tight", sans-serif;
}

.contactbutton {
  background-color: rgb(99, 96, 89);
  text-decoration: none;
  border: 2px solid transparent;
  padding: 13px 30px;
  border-radius: 0;
  transition: .4s;
  position: relative;
  color: white;
  font-size: 1.35rem; 
  border-radius: 5px; 
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #3a3a3a;
  border: 2px solid #ffffff;
  cursor: pointer;
}


/*card*/

#card-title h1 {
  text-align: center;
  font-size: 40px;
  margin: 0; 
  padding: 30px; 
  background-color: #e7e3d8;
  color: #30202a;
  font-family: "Patrick Hand", cursive;
}

.card {
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0rem 0.125rem 1.5rem rgb(0 0 0 / 12%);
  width: 24rem;
 }
  
  img {
  border-bottom: 0.25rem solid rgb(187, 210, 183);
  border-radius: 0.25rem 0.25rem 0 0;
  height: auto;
  width: 100%;
}
  
.card-content {
  padding: 1rem;
}

.card-content h2 {
  font-weight: bold;
}

.card-content p {
  padding: 0.50rem;
}

.card-container { 
  background-color: #e7e3d8;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-wrap: balance;
  row-gap: 20px;
  column-gap: 20px;
}
  
@media (max-width: 768px) {
  .card {
    flex: 1 0 calc(100% - 20px);
  }
}
     
@media (min-width: 768px) {
    .card {
     flex: 1 0 calc(50% - 20px); 
  }
}
     
@media (min-width: 1200px) {
    .card {
     flex: 1 0 calc(33% - 20px);
  }
}

/*video*/
#inspo-title h3 {
  text-align: center;
  font-size: 45px;
  margin: 0; 
  padding: 30px; 
  background-color: #e7e3d8;
  color: #30202a;
  font-family: "Patrick Hand", cursive;

}

.vid-container {
  display: flex;
  flex-wrap: wrap; /* Allow cards to wrap onto new rows if necessary */
  justify-content: center; /* Center the video cards horizontally */
}

.vid-card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #fff;
  border-radius: 0.25rem;
  box-shadow: 0rem 0.125rem 1.5rem rgb(0 0 0 / 12%);
}

.card-video {
  position: relative;
  padding-top: 56.25%; 
  overflow: hidden;
}

.card-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.card-content {
  padding: 20px;
}

.card-content h3 {
  margin-top: 0;
  font-size: 18px;
  font-weight: bold;
}

.card-content p {
  margin-bottom: 0;
}

 /*accordion*/
 .accordion {
    background-color:#e7e3d8;
    color:  #3a3a3a;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 2px #281434;
    outline: none;
    transition: 0.4s;
    font-size: 16px;
}
      
  #accordion h3 {
    text-align: center;
    font-size: 35px;
    margin: 0; 
    padding: 10px; 
    background-color: #e7e3d8;
    color: #30202a;
    font-family: "Patrick Hand", cursive;
}
      
  .active, .accordion:hover {
    background-color: #a7a296;
    border: 2px solid #b0ada6;
    cursor: pointer;
}
      
  .panel {
    padding: 18px;
    background-color: #cfcdc5;
    display: none;
    overflow: hidden;
 }
  

  /*footer*/

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #8e8b81;
  color: #444242;
  padding: 30px 0;
  line-height: 20px;
  width: 100%;
  bottom: 0;
  color: rgba(36, 13, 36, 0.8);
  padding: 100px 0 30px;
}

.footer-container {
  font-size: 27.5px;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  gap: 20px; 
}

.footer-col {
  padding: 0 15px;
  text-align: center;
}


.footer-col h4 {
  font-size: 31px;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  background-color: #150f10;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}


.footer-col ul li a {
  font-size: 28px;
  text-transform: capitalize;
  color: #2e2c2c;
  text-decoration: none;
  font-weight: 300;
  transition: all 0.3s ease;
  padding: 18px;
}

.footer-col ul li a:hover {
  color: #fff;
}

.footer-bottom {
  width: 100%;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  color: #fcfcfc;
}

.social-icons a {
  color: #000000; 
  font-size: 35px;
}

.social-icons a:hover {
  color: #ffffff; 
}